{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'accouting/css/mysite.css' %}">
    <title>Title</title>
</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-xxl">
            <a class="navbar-brand" href="#">ACAUNTING</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header>
<main class="container-fluid">
    <div class="row">
        <div class="col-2 colo">
            <nav>
                <p>Главная</p>
                <a href="{% url "accounting:create-expenses" %}">Добавить товар</a> |
                <p>ВСЕГО НА КАРТЕ: {{ card_sum }}</p>
                <p>Расходы в текущем месяце: {{ total_expenses_month }}</p>
                <p>Осталось дней в месяце: {{ remaining_days }}</p>
                <a href="{% url "accounting:create-income" %}">Добавить источник</a>
            </nav>

        </div>

        <div class="col-10">
            <div class="container top-category" style="height: 50vh; overflow-y: scroll;" >
                <div class="flex-container" >
                    {% for i in top_products %}
                       <div class = 'top-category__box'>
                            <h5>{{ i.category__category_name }}</h5>
                            <h6>{{ i.sum_cat }}BYN <br>тек. месяц</h6>
                        </div>
                    {% endfor %}
                </div>
            </div>


            <div class="container" style="height: 50vh">
                <form method="get" action="{% url "accounting:basket_expenses" %}">
                    {% csrf_token %}
                    <label for="date">Date:</label>
                    <input type="date" name="date" id="date" value="{{ cur_date }}">
                    <button type="submit">Filter</button>
                </form>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Категория</th>
                        <th scope="col">Наименование</th>
                        <th scope="col">Количество</th>
                        <th scope="col">Всего</th>
                        <th scope="col">Дата</th>
                        <th scope="col">Магазин</th>
                        <th scope="col">Удалить</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in expenses_lists %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>

                            <td>{{ item.category }}</td>
                            <td>{{ item.good }}</td>
                            <td>{{ item.count }}</td>
                            <td>{{ item.total }}</td>
                            <td>{{ item.date|date:"d-m-Y" }}</td>
                            <td>{{ item.store }}</td>
                            <td>
                                <form method="POST" action="{% url 'accounting:delete-expenses' pk=item.id %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="next" value="{{ request.path }}">
                                    <button type="submit">Удалить</button>
                                </form>
                                </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <th>ВСЕГО {{ total_amount }}</th>
                    </tr>
                    </tbody>

                </table>

            </div>

        </div>
    </div>
</main>


{#<form action="{% url "accounting:basket_expenses" %}" method="post">#}
{#    {% csrf_token %}#}
{#    {{ form.as_div }}#}
{#    <input type="submit" value="Submit">#}
{#</form>#}


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>


</html>